.markethome-wrapper {
    padding-top: 50px;
}

/* FONT AND TEXT FOR HOMEPAGE */
.beta-btn{
    font-size: 12px;
    border-radius: 100px;
    background-color: yellow;
    border: none;
    padding: 2px 5px;
    margin-left: 5px;
    color: black;
}
.market-title {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.market-heading {
    font-size: 35px;
    color: #fff;
}
.market-heading2 {
    font-size: 30px;
    color: #E60E61;
    font-weight: 600;
}

.market-text1 {
    color: #C7C7C7;
    font-size: 22px;
}

.market-text2 {
    font-size: 16px;
    color: #848484;
}

.market-text3 {
    font-size: 18px;
    color: #FFFFFF;
}
.market-link-text1{
    font-size: 15px;
    color: #848484;
}
.market-link-text1:hover{
    color: #a5a1a1;
    cursor: pointer;
}


/* HEADER */
.header-img {
    width: 400px;
}

.explore-btn {
    background-color: #E60E61;
    border: 1px solid #E60E61;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 15px;
}
.explore-btn:hover{
    background-color: inherit;
}
.mynft-btn {
    border: 1px solid #E60E61;
    background-color: inherit;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 15px;
}
.mynft-btn:hover{
    background-color: #E60E61;
}

.steps-icon{
    width: 34px;
}

/* EXPLORE SECTION */
.explore-section{
    padding-top: 100px;
}


/* ADDONS SECTION */

.addon-list li{
    list-style: square;
}
.addon-btn {
    background-color: #E60E61;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    color: #fff;
    font-size: 15px;
}
.addon-btn:hover{
    background-color: inherit;
    border: 1px solid #E60E61;
}
.addon-img{
    width: 700px;
}



@media only screen and (max-width: 600px){
    .addons-section{
        padding-top: 80px;
    }
    .addon-img{
        width: 420px;
    }
    
}